{% extends 'base.html.twig' %}


{% block body %}
{% include 'header.html.twig' %}
<br>
<section class="vh-100" style="background-color: #eee;">
  <div class="col-md-10 col-lg-6 col-xl-5 mx-auto h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div>
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div>

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4" method="POST">
                  {{ form_start(registrationForm) }}
                  <select class="form-select mb-3" aria-label="Default select example">
                    <option selected>Vous êtes </option>
                     <option value="2">Vendeur</option>

                    <option value="1">Acheteur</option>
                  </select>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" placeholder="votre nom" class="form-control">
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa-solid fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Votre email'}})
                      }}
                    </div>
                  </div>



                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Votre mot de passe'}})
                      }}
                    </div>
                  </div>



                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg"
                      style="background-color:#58b58d;border-color:#58b58d">Register</button>
                  </div>

                  {{ form_end(registrationForm) }}
                </form>


              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}