
<div class="box-section">
  <div class="head">
    <img src="https://izidore.com/img/icons/map-pin.svg" alt="" />
    <p class="title-black-light">Challans, 85300</p>
  </div>
  <div class="body">
    <img src="{{ asset("assets/images/buy-section-header.png") }}" alt="img">
	 <a class="cart-add" href="{{ path('app_avis_new',{'userId': userId }) }}">
		<i class="fa-solid fa-cart-shopping"></i>
		<p>J'achète</p>
	</a>

    <img src="{{ asset("assets/images/buy-section-footer.png") }}" alt="img">
  </div>
</div>

