@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");


/*styling star rating*/
.rating  {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before{
  content: "\f005";
  font-family: FontAwesome;
  margin: 5px;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.rating > .half:before{
  content: "\f089";
  position: absolute;
  cursor: pointer;
}

.rating > label{
  color: #ddd;
  float: right;
  cursor: pointer;
}
.rating > input:checked ~ label {
  color: #ffd932;
}

