<div class="header">
    <div>
    <a href="#">
        La crème de l'occasion 
                    
    </a>
    <label for="">💛</label>
    </div>

 </div>  
<div class="nav">
<img  src="{{asset("assets/images/nav.png")}}" alt="">
</div>  